.container {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
    background: #fff;
}
#wrapper{
	background: url("/assets/images/ua-bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	padding: 40px 0;
}
#about{
	color: #000;
	padding: 30px 10px;
}
#about h1{
		text-align: center;
		font-size: 30px;
}
#about p{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	line-height: 2;
}
img{
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	border-radius: 5px;
}
.section{
	margin: 0 10px;
}